@font-face {
  font-family: "YoungSerif";
  src: url(../fonts/YoungSerif-Regular.ttf);
}

$font1: YoungSerif;
$color1: #E4C9A8;

@mixin alignChildren($space) {
  display: flex;
  align-items: center;
  justify-content: $space;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: $font1;
  color: black;
  background: $color1;
}

a{
    color: black;
    text-decoration: none;
}

.footer-description {
  color: white;
}

.main-content {
  width: 92%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.image-carousel {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.carousel-img {
  max-width: 550px;
  height: auto;
  display: block;
  transition: opacity 0.5s; 
}

.carousel-img:hover {
  opacity: 0.7; 
}

.description {
  max-width: 50%;
  text-align: center;
  padding: 20px;
}

.btn-en-savoir-plus {
  display: inline-block;
  background-color: rgb(191,21,79);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.text-description {
  text-align: justify;
  font-size: 18px;
  padding: 20px;
}
.title-footer {
   color:white
}

