@font-face {
  font-family: "YoungSerif";
  src: url(../fonts/YoungSerif-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: YoungSerif;
  color: black;
  background: #e4c9a8;
}

a {
  color: black;
  text-decoration: none;
}

.footer-description {
  color: white;
}

.main-content {
  width: 92%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.image-carousel {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.carousel-img {
  max-width: 550px;
  height: auto;
  display: block;
  transition: opacity 0.5s;
}

.carousel-img:hover {
  opacity: 0.7;
}

.description {
  max-width: 50%;
  text-align: center;
  padding: 20px;
}

.btn-en-savoir-plus {
  display: inline-block;
  background-color: rgb(191, 21, 79);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.text-description {
  text-align: justify;
  font-size: 18px;
  padding: 20px;
}

.title-footer {
  color: white;
}

header nav {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
header nav .logo img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul li:hover {
  text-decoration: underline;
}
header nav .nav-search {
  display: block;
  margin: auto;
}
header nav .nav-search input {
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  font-family: YoungSerif;
  border: lightgray;
}

.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
.filter-container input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
}
.filter-container .range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-container .range-container input[type=range] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.filter-container .range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}
.filter-container .btnSort {
  font-family: YoungSerif;
  padding: 10px;
  border-radius: 5px;
}
.filter-container .btnSort:hover {
  cursor: pointer;
}

.form-inscription-container {
  margin: 0 auto;
  width: 80%;
}
.form-inscription-container label,
.form-inscription-container input {
  margin: 10px auto;
  display: block;
  text-align: center;
}
.form-inscription-container input {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
}
.form-inscription-container input[type=submit] {
  margin: 20px auto;
  padding: 5px 30px;
  transition: 0.2s;
}
.form-inscription-container input[type=submit]:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}
.product-container .card {
  color: black;
  flex: 1 0 20%;
  min-width: 200px;
  width: 300px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background: white;
  transition: 0.3s;
  border: 2px solid;
}
.product-container .card:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 2;
}
.product-container .card img {
  margin: auto;
  width: 175px;
  height: 110px;
}

footer {
  background: url(/img/bg-footer.jpg) center/cover;
  text-align: left;
  padding: 65px 32px;
}
@media screen and (max-width: 680px) {
  footer {
    background: none;
  }
}
footer .footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 680px) {
  footer .footer-content {
    grid-template-columns: 1fr;
  }
}
footer .footer-content .left-part {
  padding-right: 30px;
  line-height: 30px;
}
@media screen and (max-width: 680px) {
  footer .footer-content .left-part {
    display: none;
  }
}
footer .footer-content .left-part h2 {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 15px;
}
footer .footer-content .left-part p {
  font-size: 0.9rem;
}
footer .footer-content .right-part {
  padding-left: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
@media screen and (max-width: 680px) {
  footer .footer-content .right-part {
    padding-left: 20px;
  }
}
footer .footer-content .right-part h3 {
  font-size: 0.85rem;
}
footer .footer-content .right-part input {
  margin-top: 15px;
  background: none;
  border: 1px solid rgba(166, 114, 69, 0.151);
  padding: 7px 13px;
  width: 250px;
}
@media screen and (max-width: 680px) {
  footer .footer-content .right-part input {
    width: 150px;
  }
}
footer .footer-content .right-part .follow-us {
  display: flex;
  margin-top: 50px;
}
@media screen and (max-width: 680px) {
  footer .footer-content .right-part .follow-us h3 {
    display: none;
  }
}
footer .footer-content .right-part .follow-us ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #595956;
  font-size: 0.8rem;
  width: 200px;
  cursor: pointer;
}
footer .footer-content .right-part .follow-us ul i {
  transition: 0.2s;
}
footer .footer-content .right-part .follow-us ul i:hover {
  transform: scale(1.5);
}

/* Styles pour le formulaire de contact */
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 100px;
}

.contact-form h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contact-form textarea {
  resize: vertical; /* Permet la redimensionnement vertical du textarea */
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #555;
}

/* Style pour les messages d'erreur (optionnel) */
.error-message {
  color: red;
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */