.filter-container {
  text-align: center;
  padding-bottom: 20px;
  input {
    margin: 20px auto;
    display: block;
    font-size: 1.4rem;
    text-align: center;
  }
  .range-container {
    display: flex;
    align-items: center;
    justify-content: center;
    input[type="range"] {
      width: 250px;
      margin: 0 10px 10px 0;
    }
    span {
      font-size: 1.2rem;
      transform: translateY(-3px);
    }
  }
  .btnSort{
    font-family: $font1;
    padding: 10px;
    border-radius: 5px;
    &:hover{
      cursor: pointer;
    }
  }
}
